@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

.card {
    box-sizing: content-box;
    position: relative;
    width:20rem;
    height:27rem;
    // background:rgba(204, 204, 204, 0.511);
    // backdrop-filter: blur(5px);
    border-radius: 1.5rem,1.5rem,1.5rem,1.5rem, ;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 1rem auto 1rem;
    transition: 0.5s;
    z-index: 1;

    // background: #d3228f7a;
    // // opacity: 50%;
    // backdrop-filter: blur(5px);
    // border-radius:  2.5rem;
    // margin: 3rem 1rem 2rem;
    // color: rgb(1, 1, 1);
}
h1 {
    font-family: 'Caveat', cursive;
    position: absolute;
    top:27%;
    left: 10%;
    z-index: 2;
    transform: rotate(-38deg);
    color: #831338;
    
}
.article--describe {
    position: absolute;
    top: 15%;
    left: 2.5rem;
    color: white;
    
    // display: none;
    opacity: 0;
    visibility: hidden;
    transition:  0.8s;
    
}
.article--describe h3 {
    font-weight: 500;
    font-size:1rem;
    line-height: 3rem;
}

.article--describe p {
    font-size: 0.6rem;
}

   

.card .circle {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    
}  

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #831338;
    clip-path: circle(4rem at center) ;
    z-index: -1;
    transition: 0.5s;

}

.card .circle:hover:before {
    
    
    background: #831338;
    clip-path: circle(20rem at center) ;
    transition:  0.8s;

}

.card img {
    position:absolute;
    height:11rem;
    width: 11rem;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;

    transition: 0.5s;
}
    
    

.card:hover img {
    top: 60%;
    transition: 0.8s;
    rotate: 10deg;


}
.card:hover h1 {
    top: 0%;
    transition: 0.8s;
    color: white;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.card:hover .article--describe {
    position: relative;
    color: white;
    opacity: 1;
    visibility: visible;
    
}

