.menu {
    
    display: inline-block;
    
    
}

.menu__items {
    
    border: solid;
    border-color: magenta;
    background: rgb(229, 202, 254);
    border-radius: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    backdrop-filter: invert(5);
    
  padding: 1rem;
}